@model ProjetoEmpresa.Models.Fornecedor

@{
    ViewData["Title"] = "Create";
}

<h2>Cadastrar</h2>

<h4>Fornecedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="empresaId" class="control-label"></label>
                <select asp-for="empresaId" class ="form-control" asp-items="ViewBag.empresaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pessoa" class="control-label"></label>
                <input asp-for="pessoa" class="form-control" />
                <span asp-validation-for="pessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf_cnpj" class="control-label"></label>
                <input asp-for="cpf_cnpj" class="form-control" />
                <span asp-validation-for="cpf_cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rg" class="control-label"></label>
                <input asp-for="rg" class="form-control" />
                <span asp-validation-for="rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datahora" class="control-label"></label>
                <input asp-for="datahora" class="form-control" />
                <span asp-validation-for="datahora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nascimento" class="control-label"></label>
                <input asp-for="nascimento" class="form-control" />
                <span asp-validation-for="nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefone" class="control-label"></label>
                <input asp-for="telefone" class="form-control" />
                <span asp-validation-for="telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
